
header>img{
    border-radius: 50%;
    width: 100px;
    height: 110px;
 }
 h1{
     font-size: 36px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     
 }
 h2{
     color:#48BB78;
     font-size: 32px;
 }
 h6{
     color: #718096;
 }
 h3{
     color:#48BB78;
     font-family: Georgia,
     'Times New Roman', Times, serif;
 }

 .container{
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-gap: 2%;
    
 }

.header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:#63B3ED ;
    color:#FFFFFF;
    text-align: center;

}
.flex{
    display: flex;
}

.headerimg{
    
}



.main{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    /*background-color:blue ;*/
}

.aside{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-top: 10%;
    /*background-color:brown ;*/
}

.footer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    background-color:#2C5282 ;
    color: #FFFFFF;
    
    
}
.abouttitle{
    color:#000000;
}
.about{
    background-color: #E2E8F0;
    padding: 5%;
}
 article >p {
    
     text-indent: 4%;
 }

a{
    color:#4299E1 ;
    text-decoration: none;
}
article>img{
   border-radius: 25%;
    float: left;
    width: 180px;
    height: 190px;
    padding: 2%;

}
article{
    padding: 3%;
}

 /*footer{
     font-size: 12px;
 }*/
 /*aside{
     font-size: 15px;
     font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
    }*/
 ul{
     list-style-type: none;
 }
 
 font{
     font-size: 18px;
     color: #2D3748;
     font-family:"Helvetica Neue",Arial,"Noto Sans",sans-serif;
 }


