
 h1{
     font-size: 36px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     
 }
 h2{
     color:#48BB78;
     font-size: 32px;
 }
 h6{
     color: #718096;
 }
 h3{
     color:#48BB78;
     font-family: Georgia,
     'Times New Roman', Times, serif;
 }

 .container{
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-gap: 2%;
    
    
 }

.header{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:#63B3ED ;
    color:#FFFFFF;


}


.flex{
    display: flex;
    align-items:center;
    justify-content: center;
    
    
    
    
}
.flex>div>img{
    border-radius: 50%;
    width: 130px;
    height: 140px;
   
}
 
.flex>div>h1{
    
    background-color: purple;
 }
.flex>div>p{
    background-color: purple;
}



.main{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-left: 6%;
}

.aside{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-top: 10%;
    padding-right: 6%;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: justify;
    background-color:#2C5282 ;
    color: #FFFFFF;
    padding-left: 8%;
    
    
}
.abouttitle{
    color:#000000;
}
.about{
    background-color: #E2E8F0;
    padding: 5%;
}
 article >p {
    
     text-indent: 4%;
 }

a{
    color:#4299E1 ;
    text-decoration: none;
}
article>img{
   border-radius: 25%;
    float: left;
    width: 180px;
    height: 190px;
    padding: 2%;

}
article{
    padding: 3%;
}

 
 ul{
     list-style-type: none;
     padding-left: 0;
 }
 
 font{
     font-size: 18px;
     color: #2D3748;
     font-family:"Helvetica Neue",Arial,"Noto Sans",sans-serif;
 }


